
<div class="container">
  <div class="details">
    <h1 class="name">Emily Hoult</h1>
    <div class="title-box col-3">
      <p class="title">UI/UX Designer & Frontend Developer</p>
    </div>
    <button class="btn-main">Download CV</button>
  </div>

  <div class="about">
    <h1>About</h1>
    <p>
      Hi, I’m Emily, a UI/UX Designer with a background in Fashion Merchandising and E-commerce. I’m British/German, grew up in the Netherlands and have been living and working in Berlin for the past 4 years.
      I love that UI design brings out my creativity and attention to detail and I’m passionate about designing seamless, intuitive and elegant solutions. I’m a problem solver with an eye for detail and I love
      the idea of being able to calm interfaces and improve the user experience through the use of structure, patterns and whitespace.
    </p>
  </div>
  <%= image_tag("circle.svg") %>
  <%= image_tag("polka dots - square.svg") %>
</div>
