<div class="footer d-flex flex-wrap ">
  <div class="row w-100 m-0 ">
    <div class="col p-0 d-flex justify-content-start align-content-center align-items-center">
      <%= image_tag("footer-img.svg", class: "footer-img") %>
    </div>
    <div class="col p-0 contact-section">
      <h1 class="contact" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Contact</h1>
    </div>
  </div>
  <div class="row m-0 w-100 justify-content-end">
      <p class="m-0"  id="contact" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">If you like my work and want to discuss opportunities, please get in touch!</p>
  </div>
  <div class="row m-0 w-100 justify-content-end">
        <div class="email d-flex" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">
          <h6 class="email-me"><a href="mailto:emily@emilyhoult.com" class="link link--line">Email Me</a></h6>
          <%= image_tag("ArrowRight.svg", class: "arrow-right") %>
        </div>
  </div>
  <div class="row m-0 w-100 social-links">
    <ul>
      <li class="social" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad"><a href="https://www.linkedin.com/in/emilyhoult/" target="_blank" class="link link--line">LinkedIn</a></li>
      <li class="social" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad"><a href="https://www.behance.net/emilyhoult" target="_blank" class="link link--line">Behance</a></li>
      <li class="social" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad"><a href="https://dribbble.com/emilyhoult" target="_blank" class="link link--line">Dribbble</a></li>
      <li class="social" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad"><a href="https://github.com/emilyhoult" target="_blank" class="link link--line">GitHub</a></li>
    </ul>
  </div>
  <div class="row m-0 w-100 justify-content-center">
    <p id="copyright" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">© Emily Hoult 2021</p>
  </div>
</div>
