<div class="footer">
  <%= image_tag("rectangle.svg", class: "rectangle") %>
  <%= image_tag("p-dot-9.svg", class: "p-dot-9") %>
  <div class="contact-section">
    <h1 class="contact">Contact</h1>
    <p>If you like my work and want to discuss opportunities, please get in touch!</p>
    <div class="email d-flex">
      <h6 class="email-me">Email Me</h6>
      <%= image_tag("ArrowRight.svg", class: "arrow-right") %>
    </div>
  </div>
  <div class="social-links">
    <ul>
      <li class="social">LinkedIn</li>
      <li class="social">Behance</li>
      <li class="social">Dribbble</li>
      <li class="social">GitHub</li>
    </ul>
  </div>
  <p id="copyright">© Emily Hoult 2021</p>
</div>
