<div class="container fixed-top">
    <% if current_page?(controller: :homepage, action: :home) %>
      <div class="navbar justify-content-end">
        <div class="d-flex justify-content-end text-right">
          <ul>
           <li>Work</li>
           <li>About</li>
           <li>Contact</li>
         </ul>
       </div>
      </div>
    <% else %>
      <div class="navbar justify-content-between">
          <div class="logo-box">
            <h2 class="logo">EH</h2>
          </div>
         <ul>
           <li>Work</li>
           <li>About</li>
           <li>Contact</li>
         </ul>
      </div>
    <% end %>
</div>
