<div class="container flex-grow-1" id="cs-section">
  <div class="d-flex justify-content-center" id="cubo-cs">
    <%= image_tag("cubocasestudy@2x.jpg", class: "case-study") %>
  </div>
  <%= render 'shared/footernew' %>
</div>

