<div class="container" id="cs-section">
  <div class="d-flex justify-content-center" id="disc-cs">
    <%= image_tag("disccasestudy@2x.jpg", class: "case-study") %>
  </div>
  <%= render 'shared/footernew' %>
</div>
