.btn {
  background-color: #FCFCFC;
  color: #0A0B0D;
  border-color: #0A0B0D;
  border-radius: 0;
}

.btn:hover {
  background-color: #0A0B0D;
  color: #FCFCFC;
  border-color: #0A0B0D;
}

.btn:active {
  background-color: #0A0B0D;
  color: #FCFCFC;
  border-color: #0A0B0D;
}
