.btn {
  background-color: #0A0B0D;
  color: #FCFCFC;
  border-color: #FCFCFC;
  border-radius: 0;
  transition: .3s ease-in-out;
}

.btn:hover {
  background-color: #FCFCFC;
  color: #0A0B0D;
  border-color: #FCFCFC;
}

.btn:active {
  background-color: #FCFCFC;
  color: #0A0B0D;
  border-color: #FCFCFC;
}
