@media only screen and (max-width: 425px) {
  .footer {
    max-width: 350px;
    justify-content: center;
    margin: auto;

    .contact-section {
      #contact-text {
        padding-top: 32px;
      }
    }

    #contact {
      font-size: 16px;
    }

    .email {
      margin-top: 0px;
      #email-btn {
        font-size: 14px;
        margin-top: 8px;
        margin-right: 3px;
      }
    }

    .social-links {
      .social {
        margin-bottom: 12px;
      }
    }

    ul {
      margin-top: 22px;
    }

    #copyright {
      font-size: 8px;
      text-align: center;
      margin-bottom: 16px;
    }

    #email-btn {
      margin-top: 32px;
    }
  }
}

  @media only screen and (min-width: 426px) {


  .footer {
    height: 870px;
    margin-bottom: 0px;

    .footer-img {
      margin-top: 48px;
    }

    .contact-section {
      text-align: right;
    }

    .contact {
      padding-top: 380px;
    }

    p {
      font-size: 22px;
      font-family: 'HKGrotesk-Light', sans-serif;
    }

    .email {
      justify-content: flex-end;
      margin-top: 32px;

      .email-me {
        margin: 0 4px 0 0;
        padding-top: 1.8px;
        font-size: 17px;
      }
    }

    #email-btn:hover {
      .email-me, .arrow-right {
        color: #0A0B0D;
      }

    }

    .social-links {
      .social {
        margin-bottom: 22px;
      }
    }

    #copyright {
      font-size: 11px;
      text-align: center;
      margin-bottom: 32px;
    }
  }
}
