.footer {
  height: 870px;
  margin-bottom: 32px;

  .footer-img {
    margin-top: 108px;
  }

  .contact-section {
    text-align: right;
  }

  .contact {
    padding-top: 443px;
  }

  .email {
    justify-content: flex-end;
    margin-top: 32px;

    .email-me {
      margin: 0 4px 0 0;
      padding-top: 2px;
    }
  }

  .social-links {
    .social {
      margin-bottom: 16px;
    }
  }

  #copyright {
    font-size: 11px;
    text-align: center;
    margin-bottom: 32px;
  }
}
