.footer {
  height: 870px;
  // margin-bottom: 32px;

  .rectangle {
    position: absolute;
    top: 4143px;
    left:0px;
  }

  .p-dot-9 {
    position: absolute;
    top: 4212px;
    left:35px;
  }

  .contact-section {
    text-align: right;

    .contact {
      padding-top: 380px;
    }

    .email {
      justify-content: flex-end;
      margin-top: 32px;

      .email-me {
        margin: 0 4px 0 0;
        padding-top: 2px;
      }
    }
  }

  .social-links {
    .social {
      margin-bottom: 22px;
    }
  }

  #copyright {
    font-size: 11px;
    text-align: center;
    margin-bottom: 32px;
  }
}
