.navbar {
  position: sticky;
  padding: 0;
  margin-top: 44px;
  align-items: start;

  ul {
    text-align: right;
    font-size: 16px;
    line-height: 19.2px;

    li {
      margin: 20px 0px;
    }
  }

  .logo {
    margin:8px 0 0 0;
    align-items: start;
  }
}

@media (min-width: 992px) {
  #navbar {
    max-width: 1352px;
  }
}

.link {
    // cursor: pointer;
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}

.link--line::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.link--line:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

a:hover {
    color: var(--color-link-hover);
    outline: none;
    text-decoration: none;
}
