.navbar {
  justify-content: flex-end;
  position: sticky;
  padding: 0;
  margin-top: 44px;
  ul {
    text-align: right;
    font-size: 16px;
    line-height: 19.2px;

    li {
      margin: 20px 0px;
    }
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1312px;
  }
}
