.navbar {
  position: sticky;
  padding: 0;
  margin-top: 44px;
  align-items: start;

  ul {
    text-align: right;
    font-size: 16px;
    line-height: 19.2px;

    li {
      margin: 20px 0px;
    }
  }

  .logo {
    margin:8px 0 0 0;
    align-items: start;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1352px;
  }
}
