
@media only screen and (min-width: 426px) {
  .top-btn {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 58px;
    right: 58px;
    // background-color: #6b6f56;
    border-radius: 50%;
    transition: transform 0.2s ease;
  }

  .top-btn:hover {
    transform: translateY(-12px);
  }
}

@media only screen and (max-width: 425px) {
  #hide-top-btn {
    display: none;
  }
}
