/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "components/index";

@font-face {
   font-family: 'Argesta Display';
   src: url('argestadisplay-regular-webfont.ttf');
}

@font-face {
   font-family: 'Silka Regular';
   src: url('silka-regular-webfont.ttf');
}

@font-face {
   font-family: 'Silka Italic';
   src: url('silka-regularitalic-webfont.ttf');
}

@font-face {
   font-family: 'Butler-Light';
   src: url('Butler_Light.otf');
}

@font-face {
   font-family: 'HK Grotesk-Bold';
   src: url('HKGrotesk-Bold.ttf');
}

@font-face {
   font-family: 'HK Grotesk-Italic';
   src: url('HKGrotesk-Italic.ttf');
}

@font-face {
   font-family: 'HK Grotesk-Light';
   src: url('HKGrotesk-Light.ttf');
}

@font-face {
   font-family: 'HK Grotesk-Medium';
   src: url('HKGrotesk-Medium.ttf');
}

@font-face {
   font-family: 'HK Grotesk-Regular';
   src: url('HKGrotesk-Regular.ttf');
}

@font-face {
   font-family: 'HK Grotesk-SemiBold';
   src: url('HKGrotesk-SemiBold.ttf');
}

* {
  cursor: none;
}

// #6f6f56
// #6b6f56
// #566f69
// #72725A

body {
  font-family: 'HK Grotesk-Light', sans-serif;
  letter-spacing: -0.02em;
  background: #6b6f56;
  transition: all .2s linear;
  // height: 100vh;
  cursor: none;
}

.cursor {
  width: 20px;
  height: 20px;
  background: #FCFCFC;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  // transition-duration: 200ms;
  // transition-timing-function: ease-out;
}

.hover {
  mix-blend-mode: difference;
  pointer-events: none;
}

.grow {
  transform: scale(1.4);
  background-color:#FCFCFC;
  mix-blend-mode: exclusion;
  animation: mousePulse 1.4s infinite ease-in-out;
}

@keyframes mousePulse {
  0% {
    transform: scale(1)
  }
  40% {
    transform: scale(1.5)
  }
  100% {
    transform: scale(1)
  }
}


h1, h2, h3, h4, h5, h6, p, li {
  color: #FCFCFC;
}

h1 {
  font-family: 'Butler-Light', serif;
  margin: 0 0 32px 0;
  font-weight: 400;
  font-size: 126px;
  line-height: 139.2px;
  letter-spacing: 0.02em;
}

h2 {
  font-family: 'Butler-Light', serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 69.36px;
  padding: 0;
  margin-bottom: 48px;
  letter-spacing: 0.02em;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


[data-aos="out"] {
  opacity: 1;
  transition-property: opacity;


  &.aos-animate {
    opacity: 0;
  }
}

[data-aos^=fade][data-aos^=fade] {
  opacity: 0;
  transition-property: opacity,transform;

  &.aos-animate {
    opacity: 1;
  }
}

