// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.name {
  font-weight: 400;
  font-size: 116px;
  line-height: 139.2px;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 69.36px;
  letter-spacing: -0.02em;
}
