// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#homepage {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.name {
  margin-top: 163px;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 69.36px;
  letter-spacing: -0.02em;
  padding-left: 4px;
  margin: 0;
}

#cv-btn {
  margin-left: 4px;
  margin-top: 32px;
}

@media (min-width: 992px) {
  #homepage {
    max-width: 1160px;
  }
}

.about {
  margin-top: -136px;
  padding-top: 32px;
}

.circle-svg {
  z-index: 1;
  position: absolute;
  top: 489px;
  right: 12px;
}

.svgs.circle {
  justify-content: flex-end;
}

.p-dot-1 {
  margin-right:115px;
  margin-top: 60px;
}

.about-section p {
  font-size: 18px;
  line-height: 30.78px;
  text-align: justify;
}

.svgs.triangle {
  margin-top: 180px;
}

.triangle-svg {
  z-index: 1;
  position: absolute;
  top: 1466px;
  left: 38px;

}

.p-dot-2 {
  margin-top: 150px;
}


.skills-section {
  margin-top: -411px;
  flex-flow: row wrap;
  margin-left: 230px;

  li {
    margin-bottom: 12px;
  }

  .square-svg {
  padding-right: 12px;
  padding-bottom: 2px;
  }

  .ui-li {
    padding-left: 52px;
  }

  .software-li {
    padding-left: 76px;
  }

}

.work-section {
  justify-content: center;
  margin-top: 168px;
  flex-flow: row wrap;
  height: 1774px;

  .work {
    text-align: center;
    margin-bottom: 120px;
    padding-top:32px;
  }

  .work-img {
    justify-content: center;
    width: 422px;
    margin-bottom: 64px;
    z-index: 1;
    position: absolute;
    transition: all .16s ease-in-out;
  }

  .work-img:hover {
    transform: scale(1.5);
  }

  .cubo-cover {
    position: absolute;
    top:2479px;
    left:125px;
  }

  .glow-cover{
    position: absolute;
    top:2596px;
    left:676px;
  }

  .wanderlist-cover{
    position: absolute;
    top:2868px;
    left:171px;
  }

  .disc-cover{
    position: absolute;
    top:3016px;
    left:708px;
  }

  .paperlite-cover{
    position: absolute;
    top:3213px;
    left:81px;
  }

  .localshopper-cover{
    position: absolute;
    top:3372px;
    left:625px;
  }

  .camperworld-cover{
    position: absolute;
    top:3604px;
    left:129px;
  }

  .work-svgs {
    .p-dot-3 {
      position: absolute;
      top: 2511px;
      left: 541px;
    }

    .s-circle-1 {
      position: absolute;
      top: 2734px;
      left: 2px;
    }

    .p-dot-4 {
      position: absolute;
      top: 2839px;
      left: 49px;
    }

    .p-dot-5 {
      position: absolute;
      top: 2949px;
      left: 433px;
    }

    .p-dot-6 {
      position: absolute;
      top: 3416px;
      left: 340px;
    }

    .p-dot-7 {
      position: absolute;
      top: 3285px;
      left: 1028px;
    }

    .p-dot-8 {
      position: absolute;
      top: 3807px;
      left: 86px;
    }

    .s-circle-2 {
      position: absolute;
      top: 3777px;
      left: 462px;
    }
  }
}
