#photos-page {
  max-width: 1150px;
  padding:0;
  margin-top: 175px;
  flex-wrap: wrap;

  .photos-img {
    width: 362px;
    padding:0;
  }

  .img-l {
    margin: 0 16px 32px 0;
  }

  .img-c {
    margin: 0 16px 32px 16px;
  }

  .img-r {
    margin: 0 0 32px 16px;
  }
}


