// Place all the styles related to the work controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media only screen and (min-width: 426px) {
  #cs-section {
  margin-top: 68px;

    .case-study {
      max-width: 1103px;
    }
  }
}


@media only screen and (max-width: 425px) {
  #cs-section {
  margin-top: 80px;
    .case-study {
      max-width: 300px;
    }
  }
}

@media (min-width: 990px) {
  .cs-section {
    max-width: 1160px;
  }
}

